################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/CorpusFrisky.VisualSynth/bin/*
/CorpusFrisky.VisualSynth/obj/*
/CorpusFrisky.VisualSynth.SynthModules/bin/*
/CorpusFrisky.VisualSynth.SynthModules/obj/*
*.baml
